<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EMU|{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
{% if messages %}
<div>
    <strong>Messages:</strong>
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<nav class="navbar">
    <div class="container flex">
        <h1 class="logo">
            <a>EMU</a>
        </h1>
        <div>
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Services</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Change Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'emu-user:register' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'emu-user:login' %}">Sign In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock content %}
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>