@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #4242af;
    --body-color: #333;
    --body-line-height: 1.6;
    --h1-h2-font-weight: 300;
    --h1-h2-line-height: 1.2;
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    color: var(--body-color);
    line-height: var(--body-line-height);
}

ul{
    list-style-type: none;
}

a{
    color: var(--body-color);
    text-decoration: none;
    cursor: pointer;
}

h1, h2{
    font-weight: var(--h1-h2-font-weight);
    line-height: var(--h1-h2-line-height);
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.navbar a{
    color: #fff;
    padding: 8px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px #fff solid;
}

.logo a{
    cursor:default;
}

.logo a:hover{
    border: none;
}

.welcome{
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.welcome h1{
    font-size: 40px;
}

.welcome p{
    margin: 20px 0;
}

.welcome .grid{
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.welcome-form{
    position: relative;
    top: 50px;
    height: 450px;
    width: 450px;
    padding: 40px;
    justify-self: flex-end;
    z-index: 100;
}

.welcome-form.card{
    box-shadow: 0 3px 50px rgba(0,0,0,.2);
}

.welcome-form .form-control{
    margin: 30px 0;
}

.welcome-form h2{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.welcome-form .input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.welcome-form .input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: .5s;
    pointer-events: none;
    font-size: 16px;
    color: #fff;
}


.welcome-form .input-group input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 320px;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
}

.welcome-form .input-group textarea{
    padding: 5px;
    border: none;
    outline: none;
    color: #000;
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
}

.welcome-form  #textarea-message{
    border: none;
}

.welcome-form .input-group input:focus~label,
.welcome-form .input-group input:valid~label{
    top: -5px;
}

.welcome-form .input-group textarea:focus~label,
.welcome-form .input-group textarea:valid~label{
    top: -10px;
}


.welcome-form button{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px #fff solid;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0 0 10px var(--primary-color);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

/*.welcome-form input[type='text'],*/
/*.welcome-form input[type='email']{*/
/*    border: 0;*/
/*    border-bottom: 1px solid #b4becb;*/
/*    width: 100%;*/
/*    padding: 3px;*/
/*    font-size: 16px;*/
/*}*/

/*.welcome-form input:focus{*/
/*    outline: none;*/
/*}*/

/*.welcome-form textarea{*/
/*    border: 1px solid #b4becb;*/
/*    width: 100%;*/
/*    padding: 3px;*/
/*    font-size: 16px;*/
/*    border-radius: 10px;*/
/*}*/

/*.welcome-form textarea:focus{*/
/*    outline: none;*/
/*}*/

.welcome::before,
.welcome::after{
    content: '';
    position: absolute;
    height: 100px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: -70px;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);

}

.scroll{
    padding-top: 120px;
}

.payment{
    position: relative;
    top: 60px;
    height: 450px;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    color: #333;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.payment-data{
    justify-self: flex-end;
}

.payment-data h2{
    /* text-align: center; */
    padding: 5px 0;
    color: #fff;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
    /* box-shadow: 0 3px 50px rgba(0,0,0,.2); */
    padding: 5px;
    border-radius: 20px;
}
.payment-cards.card{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.payment-cards:hover{
    cursor: pointer;
    border-bottom: 2px solid #fff;
    /* background-color: rgb(0, 255, 60); */
}


.payment-input-data{
    display: block;
}
.payment-data .input-group{
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
}

.payment-data .input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: .5s;
    pointer-events: none;
    font-size: 16px;
    color: #fff;
}


.payment-data .input-group input{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 320px;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
}

.payment-data .input-group input:focus~label,
.payment-data .input-group input:valid~label{
    top: -5px;
}

.payment-data .pay-btn{
    width: 100%;
    height: 40px;
    font-weight: 500;
}

.payment-data .visacard-selected{
    display: none;
}

.order-data h2{
    color: #fff;
    font-size: 40px;
}

table {
    border-collapse: collapse;
    width: 90%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    color: #fff;
  }

  table .order-value{
    font-weight: 700 ;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */


.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card{
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 20px;
    color: #333;
    margin: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline{
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover{
    transform: scale(.98);
}



